<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
  <connectionStrings>
	  
    <add name="TestDB" 
		 connectionString="Data Source=DESKTOP-R3E3HBP\SQLEXPRESS;Initial Catalog=StorageWaterHeater;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"/>
	  
  </connectionStrings>
	
</configuration>